.cardContainer{
    display: flex;
    height: 200px;
  flex-direction: column;
  border-radius: 5px;
  opacity: 0.9;
  overflow: hidden;
  box-sizing: border-box;
    width: 250px;
    cursor: pointer;
    background-color: white;
}

.itemName{
    padding-left:12px ;
    font-size: 14px;
    letter-spacing: 1px;
}

.cardContainer:hover{
    opacity: 1;
    transition: opacity 1s;
    background-color: rgba(56, 54, 52, 0.517);
}

.outerLink{
    text-decoration: none;
}

.dishImg{
    width: 100%;
    height: 150px;
    object-fit: cover;
}